.homepage {
  display: flex;
  margin: 15px 15px;
  border-radius: 20px;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.homepage > h1 {
  margin: 0;
  padding: 0;
}
